<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Other appenders like Console, File, etc. -->
        
        <Http name="Loggly" url="https://logs-01.loggly.com/inputs/102ba555-23ab-4571-ba00-cd96efce3f0a/tag/http/">
            <PatternLayout pattern="%d %p %c [%t] %m%n"/>
        </Http>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Loggly"/>
        </Root>
        <!-- Other loggers -->
    </Loggers>
</Configuration>
